<html>

<head>
    <link rel="stylesheet" type="text/css" href="../css/mystyle.css">

    <script type="text/javascript" src="../javascript/javafile.js"></script>

</head>

<body>
    <center><div class="topnav">
            <a href="adminmaintainance.html">View Request</a>
            <a class="active" href="adminpage.html">All requests</a>
            <a href="login.html">Log out</a>
        </div><br>
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for requests...">

        <table id="myTable">
            <tr class="header">
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Computer ID</th>
                <th>Department</th>
                <th>Description</th>
                <th>Approve</th>
                <th>Reject</th>
                <th>Resolve</th>

            </tr>
            <tr>

                <td>
                    <a href="adminmaintainance.html">Nazirini Siraji</a>
                </td>
                <td>nazi@gmail.com</td>
                <td>0704736849</td>
                <td>AAf78</td>
                <td>Team Lead</td>
                <td>Keyboard</td>
                <td>
                    <input type="checkbox" checked>
                </td>
                <td>
                    <input type="checkbox">
                </td>
                <td>
                    <input type="checkbox">
                </td>
            </tr>


            <tr>
                <td>
                    <a href="adminmaintainance.html">TD Anne</a>
                </td>
                <td>
                    anne@gmail.com
                </td>
                <td>075342578</td>
                <td>WU74n</td>
                <td>HR Coordinator</td>
                <td>Screen</td>
                <td>
                    <input type="checkbox">
                </td>
                <td>
                    <input type="checkbox">
                </td>
                <td>
                    <input type="checkbox" checked>
                </td>
            </tr>
        </table>
        </div>
        <footer>
            <div class="page-footer">

                <h1 align="center">copyright@maintenancetrackapp2018</h1>


            </div>
        </footer>

    </center>
</body>

</html>