<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="../css/mystyle.css">

    <title>First Screen</title>
</head>
<center>

    <body>
        <h1>MAINTENACE TRACKER APP</h1>
        <div class="first">
            <a href="login.html">
                <button class="first">Login
                </button>
            </a>
        </div>
        <div>
            <a href="signup.html">
                <button class="first">Signup
                </button>
            </a>
        </div>
    </div>
    <footer >
        <div class="page-footer" >
           
              <h1 align = "center">copyright@maintenancetrackapp2018</h1> 
              
         
            </div>
     </footer>
    </body>
</center>

</html>